.buttonWrapper {
  width: fit-content;

  --aug-bl: 9px;
}

.button {
  all: unset;
  cursor: pointer;

  height: 48px;
  /* width: 232px; */

  width: 74px;

  text-align: center;

  color: #000;
  background-color: #fff;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.25;
  }
}
